---
interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="page-header section">
  <div class="container">
    <h1>{headline}</h1>
  </div>
</section>

<style>
  .page-header {
    padding-block: 3rem;
    background: var(--color-primary);
    color: var(--color-white);
  }

  .page-header h1 {
    color: var(--color-white);
  }
</style>
